@{
}

<div class="container my-5 d-flex">
	<div class="col justify-content-center">
		<div>
			<h2>Uh, Uh, Uh. You didn't say the magic word!</h2>
			<a class="btn me-3 bg-dark text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
		</div>
	</div>
</div>

